@{
    ViewData["Title"] = "Home Page";
}

    <div class="jumbotron">
        @*<h1>PriyaRank</h1>*@
        <p class="lead">Welcome to Ramapriya's crowdsourced NAQT ICT Rankings!</p>
        <p>Click the "Rank" link above to begin ranking teams, or "Standings" to check out the current standings.</p>
    </div>

    
