@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

<p>Apparently I'm required by law to include this if someone from the EU might visit it. No data is saved from users of this application.</p>
